/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/* Header Styles */

header{
    margin: 3vh 0;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5vh;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    padding: 0 3px;
    border-color: turquoise;
    border-left: 3px solid;
    border-right: 3px solid;
    transition-duration: 300ms;
}


.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}
.top-content .about-text{
    padding: 0 1%;
    padding-bottom: 20px;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Box Color Styles */
.middle-content .boxes .box:nth-child(1){
    background-color: teal;
}
.middle-content .boxes .box:nth-child(2){
    background-color: gold;
}
.middle-content .boxes .box:nth-child(3){
    background-color: cadetblue;
}
.middle-content .boxes .box:nth-child(4){
    background-color: coral;
}
.middle-content .boxes .box:nth-child(5){
    background-color: crimson;
}
.middle-content .boxes .box:nth-child(6){
    background-color: forestgreen;
}
.middle-content .boxes .box:nth-child(7){
    background-color: darkorchid;
}
.middle-content .boxes .box:nth-child(8){
    background-color: hotpink;
}
.middle-content .boxes .box:nth-child(9){
    background-color: indigo;
}
.middle-content .boxes .box:nth-child(10){
    background-color: dodgerblue;
}

/* About Content Styles */
.middle-content .about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.middle-content .about-content div{
    width: min-content;
}

.middle-content .about-content,.products-wrapper div h2{
    padding: 5% 0 0;
    margin-bottom: 15px;
}

.middle-content .about-content div button,.products-wrapper div button{
    background: none;
    border: 2px solid black;
    border-radius: 8px;
    padding: 1vh 3%;
    margin: 2vh 0;
    font-weight: bold;
}

.middle-content .about-content div button:hover,.products-wrapper div button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Products Styles */
.middle-content .products-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh 0;
}
.middle-content .products-wrapper div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form Styles */

.contact-text{
    width:100%;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
}
form input,textarea{
    width: 100%;
    padding: 2% 4%;
    margin-bottom: 3vh;
    font-family: inherit;
}
form textarea{
    height: 25vh;
    resize: none;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media (max-width: 600px){
    
    .container{
        width: 100vw;
    }
    img{
        max-width: 100vw;
    }
    nav{
        width: 95vw;
    }
    nav img{
        width: 10vw;
    }
    .top-content{
        flex-direction: column;
        align-items: center;
    }
    .middle-content .boxes {
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: space-evenly;
        align-items: center;
    }
    .middle-content .boxes .box{
        width: 25vw;
        height: 25vw;
    }

    .middle-content .about-content{
        flex-direction: column;
        align-items: center;
    }
    .bottom-content{
        flex-direction: column;
        align-items: center;
    }
}